{% extends "base.html" %}

{% block content %}
    <div class="form-field">
        <label for="code-style">Choose a style</label>
        <select name="code-style" id="code-style-select">
            {% for style in styles %}
            <option value="{{ style }}.css" {% if style == 'monokai' %}selected{% endif %}>{{ style }}</option>
            {% endfor %}
        </select>
    </div>
    <p>{{ pastelet.language|capfirst }} pastelet submitted by {{ pastelet.name }} on {{ pastelet.created }}</p>
    <div class="code-wrapper">
        {{ pastelet.code|safe }}
    </div>
    {% for pastelet in recent %}
    <p><a href="/{{ pastelet.url }}">{{ pastelet.language }} - {{ pastelet.url }}</a></p>
    {% endfor %}
{% endblock %}
